.bouncy-box {
    height: 200rpx;
    width: 60rpx;
    position: relative;
    margin: 0 auto;

    .bouncy {
        width: 60rpx;
        height: 60rpx;
        border-radius: 40rpx;
        background: #CF0E5B;
        opacity: 0.8;
        animation: bouncy 1s infinite ease-in-out;
    }
}

@keyframes bouncy {
    40% {
        background: #6EC4CB;
        height: 60rpx;
    }

    50% {
        background: #3AAE84;
        transform: translate(0, 130rpx);
        height: 48rpx;
        border-radius: 40rpx;
    }

    65% {
        background: #E2A52E;
        height: 60rpx;
    }
}