.global-view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 750rpx;
    overflow: hidden;
    position: relative;

    &>view,
    &>text,
    &>scroll-view,
    &>swiper,
    &>movable-area,
    &>cover-view {
        width: 100%;
    }
}

.content {
    flex: 1;
    display: flex;
}

.loading {
    position: fixed;
    top: calc(50% - 60rpx);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}