.global-view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 750rpx;
    overflow: hidden;
    position: relative;
}

.content {
    flex: 1;
    width: 100%;
}

.loading {
    position: fixed;
    top: calc(50% - 60rpx);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.copyright {
    position: absolute;
    bottom: 0;
}